USE [master]
GO
/****** Object:  Database [LANCHAT]    Script Date: 12/24/2020 11:50:46 PM ******/
CREATE DATABASE [LANCHAT] 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LANCHAT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LANCHAT]
GO
/****** Object:  Table [dbo].[CONTACTBOOK]    Script Date: 12/24/2020 11:50:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTACTBOOK](
	[ID] [nvarchar](50) NOT NULL,
	[CONTACTNAME] [nvarchar](100) NOT NULL,
	[IDUSER] [nvarchar](50) NOT NULL,
 CONSTRAINT [CONTACTBOOK_ID_PR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTACTMEMBER]    Script Date: 12/24/2020 11:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTACTMEMBER](
	[ID] [nvarchar](50) NOT NULL,
	[IDUSER] [nvarchar](50) NOT NULL,
 CONSTRAINT [CONTACTMEMBER_ID_IDUSER_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[IDUSER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FRIEND]    Script Date: 12/24/2020 11:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FRIEND](
	[ID] [nvarchar](50) NOT NULL,
	[IDFRIEND] [nvarchar](50) NOT NULL,
 CONSTRAINT [FRIEND_ID_IDFRIEND_PR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[IDFRIEND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GROUPS]    Script Date: 12/24/2020 11:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUPS](
	[IDGROUP] [nvarchar](50) NOT NULL,
	[GROUPNAME] [nvarchar](50) NOT NULL,
	[IDADMIN] [nvarchar](50) NOT NULL,
	[SOURCEAVATAR] [nvarchar](200) NULL,
 CONSTRAINT [GROUPS_IDGROUP_PR] PRIMARY KEY CLUSTERED 
(
	[IDGROUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEMBER]    Script Date: 12/24/2020 11:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEMBER](
	[IDGROUP] [nvarchar](50) NOT NULL,
	[IDUSERS] [nvarchar](50) NOT NULL,
 CONSTRAINT [MEMBER_IDGROUP_IDUSERS_PR] PRIMARY KEY CLUSTERED 
(
	[IDGROUP] ASC,
	[IDUSERS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MESSAGE]    Script Date: 12/24/2020 11:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESSAGE](
	[IDMESSAGE] [nvarchar](50) NOT NULL,
	[SENDER] [nvarchar](50) NULL,
	[RECEIVER] [nvarchar](50) NULL,
	[RECEIVINGGROUP] [nvarchar](50) NULL,
	[MESSAGECONTENT] [nvarchar](max) NULL,
 CONSTRAINT [MESSAGE_IDMESSAGE_PR] PRIMARY KEY CLUSTERED 
(
	[IDMESSAGE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 12/24/2020 11:50:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [nvarchar](50) NOT NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASS] [nvarchar](1000) NOT NULL,
	[STATUS] [bit] NULL,
	[SOURCEAVATAR] [nvarchar](200) NULL,
	[THEME] [nvarchar](20) NULL,
 CONSTRAINT [USERS_ID_PR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CONTACTBOOK]  WITH CHECK ADD  CONSTRAINT [CONTACTBOOK_IDUSER_FK] FOREIGN KEY([IDUSER])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[CONTACTBOOK] CHECK CONSTRAINT [CONTACTBOOK_IDUSER_FK]
GO
ALTER TABLE [dbo].[CONTACTMEMBER]  WITH CHECK ADD  CONSTRAINT [CONTACTMEMBER_ID_FK] FOREIGN KEY([ID])
REFERENCES [dbo].[CONTACTBOOK] ([ID])
GO
ALTER TABLE [dbo].[CONTACTMEMBER] CHECK CONSTRAINT [CONTACTMEMBER_ID_FK]
GO
ALTER TABLE [dbo].[CONTACTMEMBER]  WITH CHECK ADD  CONSTRAINT [CONTACTMEMBER_IDUSER_FK] FOREIGN KEY([IDUSER])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[CONTACTMEMBER] CHECK CONSTRAINT [CONTACTMEMBER_IDUSER_FK]
GO
ALTER TABLE [dbo].[FRIEND]  WITH CHECK ADD  CONSTRAINT [FRIEND_ID_FK] FOREIGN KEY([ID])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[FRIEND] CHECK CONSTRAINT [FRIEND_ID_FK]
GO
ALTER TABLE [dbo].[FRIEND]  WITH CHECK ADD  CONSTRAINT [FRIEND_IDFIEND_FK] FOREIGN KEY([IDFRIEND])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[FRIEND] CHECK CONSTRAINT [FRIEND_IDFIEND_FK]
GO
ALTER TABLE [dbo].[GROUPS]  WITH CHECK ADD  CONSTRAINT [GROUPS_IDADMIN_FK] FOREIGN KEY([IDADMIN])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[GROUPS] CHECK CONSTRAINT [GROUPS_IDADMIN_FK]
GO
ALTER TABLE [dbo].[MEMBER]  WITH CHECK ADD  CONSTRAINT [MEMBER_IDGROUP_FK] FOREIGN KEY([IDGROUP])
REFERENCES [dbo].[GROUPS] ([IDGROUP])
GO
ALTER TABLE [dbo].[MEMBER] CHECK CONSTRAINT [MEMBER_IDGROUP_FK]
GO
ALTER TABLE [dbo].[MEMBER]  WITH CHECK ADD  CONSTRAINT [MEMBER_IDUSERS_FK] FOREIGN KEY([IDUSERS])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[MEMBER] CHECK CONSTRAINT [MEMBER_IDUSERS_FK]
GO
ALTER TABLE [dbo].[MESSAGE]  WITH CHECK ADD  CONSTRAINT [MESSAGE_RECEIVER_FK] FOREIGN KEY([RECEIVER])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[MESSAGE] CHECK CONSTRAINT [MESSAGE_RECEIVER_FK]
GO
ALTER TABLE [dbo].[MESSAGE]  WITH CHECK ADD  CONSTRAINT [MESSAGE_RECEIVINGGROUP_FK] FOREIGN KEY([RECEIVINGGROUP])
REFERENCES [dbo].[GROUPS] ([IDGROUP])
GO
ALTER TABLE [dbo].[MESSAGE] CHECK CONSTRAINT [MESSAGE_RECEIVINGGROUP_FK]
GO
ALTER TABLE [dbo].[MESSAGE]  WITH CHECK ADD  CONSTRAINT [MESSAGE_SENDER_FK] FOREIGN KEY([SENDER])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[MESSAGE] CHECK CONSTRAINT [MESSAGE_SENDER_FK]
GO
USE [master]
GO